/* ========= Верхнее меню сайта ============= */
/*Begin*/
*{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: #CC6600;
    justify-content: space-between;
}
header .logo{
    padding-left: 2.0em;
    margin-top: 5px;
}
.nav-menu {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap; /*перенос строки */
}
.nav-item a {
    color: #FFF;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
}
.nav-item a:hover,
.nav-item a:focus {
    background-color: #CC3300;
}
/* Для мобильных платформ */
@media (max-width: 767px) {
    header  {
        flex-direction: column;
        align-self: center;
    }
    header .logo {
        text-align: center;
    }
    .nav-menu {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;

        justify-content: space-around;

        padding: 0;
    }
    .nav-item a {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
    }
}
/* ========= Верхнее меню сайта ============= */
/*END*/
/*################################################*/
/*################################################*/
/* ========= Блок контента ============= */
/*Begin*/
.content
{
    /*border: 1px solid #CC3300;*/
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
}
.header{
    text-align: center;
}
.app{
    padding: .5em 1em 0 1em;
}
/* Для мобильных платформ */
@media (max-width: 767px){
    .content{
        /*border: 1px solid #CC3300;*/
        width: 95%;
        display: block;
        margin: 0 auto .5em;
        padding-top: 1em;
    }
    .app{
        padding: .2em .1em 0 .1em;
    }
}
/* ========= Блок контента ============= */
/*End*/

/* --- Таймер для сайта --- */
.timer{
    max-width: 12em; /* блок занимает ширину родителя, max-width её ограничивает */
    min-height: 2em;
    margin-left: auto;
    margin-right: 0;
    /*borde.timerr: 1px solid orange;*/
    /*background: #fff5d7;*/
}

/*=== Заголовок страницы и кнопка добавить ===*/
/*Begin*/
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2em;
}
.left-container {
    display: flex;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    width: 10%;
}
.people_add_btn{
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(45, 179, 0); /* фон кнопки */
    border-radius: 6px;
    padding: .4em .9em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
a.people_add_btn:hover { background:rgb(57, 230, 0); } /* при наведении курсора мышки */
a.people_add_btn:active { background: rgb(32, 128, 0); color: rgb(0, 179, 179);} /* при нажатии */
@media (max-width: 767px){
    .left-container{
        margin-left: 60px;
    }
    .right-container {
        margin-right: 40px;
    }
}
@media (max-width: 320px){
    .left-container{
        margin-left: 10px;
    }
    .right-container {
        margin-right: 30px;
    }
    .people_add_btn{
        padding: .3em .6em; /* отступ от текста */
    }
}
@media (max-width: 767px) {
    table.table thead {
        display: none;
    }
    table.table tr {
        display: block;
        margin-bottom: 1rem;
        border-bottom: 2px solid #e8e9eb;
    }
    table.table td {
        display: block;
        text-align: right;
    }
    table.table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
}
/*=== Заголовок страницы и кнопка добавить ===*/
/*END*/

/*=== Дополнительные классы для стилизации страницы ===*/
/*Begin*/
.m-r-10px{ margin-right:10px; }
.m-b-10px{ margin-bottom:10px; }
.m-b-15px{ margin-bottom:15px; }
.m-b-20px{ margin-bottom:20px; }
.w-5-pct{ width:5%; }
.w-10-pct{ width:10%; }
.w-15-pct{ width:15%; }
.w-20-pct { width:20%; }
.w-25-pct { width:25%; }
.w-30-pct { width:30%; }
.w-35-pct { width:35%; }
.w-40-pct { width:40%; }
.w-45-pct { width:45%; }
.w-50-pct { width:50%; }
.w-55-pct { width:55%; }
.w-60-pct { width:60%; }
.w-65-pct { width:65%; }
.w-70-pct { width:70%; }
.w-75-pct { width:75%; }
.w-80-pct { width:80%; }
.w-85-pct { width:85%; }
.w-90-pct { width:90%; }
.w-95-pct { width:95%; }
.w-100-pct { width:100%; }
.display-none { display:none; }
.padding-bottom-2em { padding-bottom:2em; }
.width-30-pct { width:30%; }
.width-40-pct { width:40%; }
.overflow-hidden { overflow:hidden; }
.margin-right-1em { margin-right:1em; }
.right-margin { margin:0 .5em 0 0; }
.margin-bottom-1em { margin-bottom:1em; }
.margin-zero { margin:0; }
.text-align-center { text-align:center; }
/*=== Дополнительные классы для стилизации страницы ===*/
/*END___*/

/*=== Кнопки удаления, редактирования ===*/
/*BEGIN*/
/*Редактирование*/
.btn-info{
    color: #fff; /* цвет текста */
    margin-left: .4em;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(172, 115, 57); /* фон кнопки */
    border-radius: 6px;
    padding: .1em .3em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
.btn-info:hover { background:rgb(204, 153, 102); } /* при наведении курсора мышки */
.btn-info:active { background: rgb(115, 77, 38); color: rgb(239, 230, 220);} /* при нажатии */
/*Удаление*/
.btn-danger{
    color: #fff; /* цвет текста */
    margin-left: .2em;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(230, 46, 0); /* фон кнопки */
    border-radius: 6px;
    padding: .1em .3em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
.btn-danger:hover { background:rgb(255, 71, 26); } /* при наведении курсора мышки */
.btn-danger:active { background: rgb(153, 31, 0); color: rgb(239, 230, 220);} /* при нажатии */
/* Кнопка карты */
.btn-success{
    color: #fff; /* цвет текста */
    margin-left: .2em;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(42, 209, 78); /* фон кнопки */
    border-radius: 6px;
    padding: .1em .3em .2em .2em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
.btn-success:hover { background:rgb(40, 224, 80); } /* при наведении курсора мышки */
.btn-success:active { background: rgb(115, 77, 38); color: rgb(31, 163, 60);} /* при нажатии */
/*=== Кнопки удаления, редактирования ===*/
/*END*/

/* Кнопка назад */
.back{
    color: blue; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчёркивание */
    /*padding: .2em;*/
    position: absolute;
    margin-top: 1.7em;
}
.back:hover {
    border-bottom: 1px dashed blue; /* Добавляем синее пунктирное подчёркивание */
}

/* Оформление select-a*/
.custom-select {
    position: relative;
    font-family: Arial;
    background-color: #FFFFFF;
    width: 184px;
}
#table_add_people td {
    width: 180px;
}
#table_add_people input {
    width: 180px;
}

/* Оформление для SELECT */
/* class applies to select element itself, not a wrapper element */
.select-css {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .2em .3em .2em .3em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
}
/* Верхняя часть сайта. Таймер и цвета */
/*=====================================*/
.headers {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
}

.headers div {
    width: 25em;
    height: 2em;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}

/* Верхнее оформление. Цвета кот. будут в таблице */
/* Более 10 жильцов */
.one{
    background-color: #5c91fe;
    width: 2em;
    padding-left: 10px;
    padding-right: 10px;
}
/* Мение 3 жильцов */
.two{
    background-color: #e6bf99;
    width: 2em;
    padding-left: 10px;
    padding-right: 10px;
}
/* Остальные дома с жильцами */
.thre{
    background-color: #efefef;
    width: 2em;
    padding-left: 10px;
    padding-right: 10px;
}
/* Цветовые схемы для строк */
.color-One{
    background-color: #5c91fe;
}
.color-Two{
    background-color: #e6bf99;
}
.color-Three{
    background-color: #efefef;
}
#maps {
    width: 860px;
    height: 500px;
}