<table>
            <thead>
            <!-- создание заголовков таблицы -->
            <tr role="row" class="tablesorter-headerRow">
                <th data-column="0" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="mtable" unselectable="on" aria-sort="none" aria-label="Улица: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">Улица</div></th>
                <th data-column="1" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="mtable" unselectable="on" aria-sort="none" aria-label="Номер дома: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">Номер дома</div></th>
                <th data-column="2" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="mtable" unselectable="on" aria-sort="none" aria-label="Количество квартир: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">Количество квартир</div></th>
                <th data-column="3" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="mtable" unselectable="on" aria-sort="none" aria-label="Количество жильцов: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">Количество жильцов</div></th>
            </tr>
            </thead>
            <tbody id="tbody" aria-live="polite" aria-relevant="all">
            <tr class="color-Two odd" role="row">
            <td aria-label="Улица">Артёма</td>
            <td aria-label="Номер дома">1</td>
            <td aria-label="Кол-во квартир">5</td>
            <td aria-label="Кол-во жильцов">2</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="29" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Two even" role="row">
            <td aria-label="Улица">Донецкая</td>
            <td aria-label="Номер дома">2</td>
            <td aria-label="Кол-во квартир">1</td>
            <td aria-label="Кол-во жильцов">1</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="20" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Three odd" role="row">
            <td aria-label="Улица">Флеровского</td>
            <td aria-label="Номер дома">4</td>
            <td aria-label="Кол-во квартир">2</td>
            <td aria-label="Кол-во жильцов">3</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="3" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Three even" role="row">
            <td aria-label="Улица">Маяковского</td>
            <td aria-label="Номер дома">5</td>
            <td aria-label="Кол-во квартир">4</td>
            <td aria-label="Кол-во жильцов">6</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="23" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Two odd" role="row">
            <td aria-label="Улица">Университетская</td>
            <td aria-label="Номер дома">6</td>
            <td aria-label="Кол-во квартир">0</td>
            <td aria-label="Кол-во жильцов">0</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                
            </td>
        </tr>
            <tr class="color-Two even" role="row">
            <td aria-label="Улица">Бирюзова</td>
            <td aria-label="Номер дома">9</td>
            <td aria-label="Кол-во квартир">1</td>
            <td aria-label="Кол-во жильцов">1</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="16" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Two odd" role="row">
            <td aria-label="Улица">Южная</td>
            <td aria-label="Номер дома">11</td>
            <td aria-label="Кол-во квартир">1</td>
            <td aria-label="Кол-во жильцов">0</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                
            </td>
        </tr>
            <tr class="color-Two even" role="row">
            <td aria-label="Улица">Флеровского</td>
            <td aria-label="Номер дома">14</td>
            <td aria-label="Кол-во квартир">0</td>
            <td aria-label="Кол-во жильцов">0</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                
            </td>
        </tr>
            <tr class="color-Three odd" role="row">
            <td aria-label="Улица">Левобережная</td>
            <td aria-label="Номер дома">16</td>
            <td aria-label="Кол-во квартир">1</td>
            <td aria-label="Кол-во жильцов">4</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="19" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Two even" role="row">
            <td aria-label="Улица">Кобозева</td>
            <td aria-label="Номер дома">17</td>
            <td aria-label="Кол-во квартир">0</td>
            <td aria-label="Кол-во жильцов">0</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                
            </td>
        </tr>
            <tr class="color-Two odd" role="row">
            <td aria-label="Улица">Петровского</td>
            <td aria-label="Номер дома">18</td>
            <td aria-label="Кол-во квартир">0</td>
            <td aria-label="Кол-во жильцов">0</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                
            </td>
        </tr>
            <tr class="color-Two even" role="row">
            <td aria-label="Улица">Трамвайная</td>
            <td aria-label="Номер дома">19</td>
            <td aria-label="Кол-во квартир">1</td>
            <td aria-label="Кол-во жильцов">1</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="6" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Three odd" role="row">
            <td aria-label="Улица">Челюскинцев</td>
            <td aria-label="Номер дома">20</td>
            <td aria-label="Кол-во квартир">2</td>
            <td aria-label="Кол-во жильцов">5</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="26" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Two even" role="row">
            <td aria-label="Улица">Малая набережная</td>
            <td aria-label="Номер дома">21</td>
            <td aria-label="Кол-во квартир">2</td>
            <td aria-label="Кол-во жильцов">1</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="2" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Two odd" role="row">
            <td aria-label="Улица">Красноармейская</td>
            <td aria-label="Номер дома">22</td>
            <td aria-label="Кол-во квартир">2</td>
            <td aria-label="Кол-во жильцов">1</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="18" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Two even" role="row">
            <td aria-label="Улица">Розы Люксембург</td>
            <td aria-label="Номер дома">23</td>
            <td aria-label="Кол-во квартир">1</td>
            <td aria-label="Кол-во жильцов">0</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                
            </td>
        </tr>
            <tr class="color-Two odd" role="row">
            <td aria-label="Улица">Кобозева</td>
            <td aria-label="Номер дома">24</td>
            <td aria-label="Кол-во квартир">1</td>
            <td aria-label="Кол-во жильцов">1</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="17" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Three even" role="row">
            <td aria-label="Улица">Набережная</td>
            <td aria-label="Номер дома">27</td>
            <td aria-label="Кол-во квартир">1</td>
            <td aria-label="Кол-во жильцов">3</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                <button class="btn btn-info" data-id="10" id="people_list">
                                    <i class="fas fa-users"></i>
                               </button>
            </td>
        </tr>
            <tr class="color-Two odd" role="row">
            <td aria-label="Улица">Заречная</td>
            <td aria-label="Номер дома">28</td>
            <td aria-label="Кол-во квартир">3</td>
            <td aria-label="Кол-во жильцов">0</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                
            </td>
        </tr>
            <tr class="color-Two even" role="row">
            <td aria-label="Улица">Артёма</td>
            <td aria-label="Номер дома">30</td>
            <td aria-label="Кол-во квартир">2</td>
            <td aria-label="Кол-во жильцов">0</td>
            <!-- кнопки 'действий' -->
            <td w-25-pct="" text-align-center="">
                <!-- кнопка Отображения жильцов в доме -->
                
            </td>
        </tr></tbody></table>